<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Some fancy Restaurant Data Web App</title>
    <script type="text/javascript" src="application.js"></script>
    <link rel="stylesheet" type="text/css" href="application.css">
    <script src="https://use.fontawesome.com/4e17d87ac4.js"></script>
</head>
<body>
    <div ng-app="archApp" id="application-wrapper">
        <div ng-controller="ArchController"
             id="arch-layout-grid"
             class="application-container arch-layout-grid">
            <!-- This is main header/toolbar for app -->
            <div id="application-toolbar" class="application-toolbar">
                <div class="toolbar-item home-item"></div>
                <div class="toolbar-item central-item">
                    <span class="central-item-title">Pronadji restoran u tvojoj blizini</span>
                    <div class="central-item-input-wrapper">
                        <input class="input-element" type="text" placeholder="Ulica">
                        <input class="input-element" type="text" placeholder="Grad">
                        <div class="input-button"> Trazi </div>
                    </div>
                </div>
                <div class="toolbar-item settings-item">
                    <div class="profile-dropdown-placeholder">
                        <span class="label"> Moj nalog </span>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <i class="fa fa-cogs configuration-item"></i>
                </div>
            </div>
            <!-- This is wrapper for sidebar and page content -->
            <div id="application-view-wrapper" class="application-view-wrapper">
                <!-- This is sidebar for app -->
                <div id="application-sidebar-content" class="application-sidebar-content">
                    <div ng-repeat="item in sidebarTypeItems track by $index"
                         class="sidebar-item-container type-item {{item.className}}"
                         ng-class="{'last-item': $last}">
                        <span class="item-title">{{item.title}}</span>
                        <i ng-if="item.iconClass" class="fa {{item.iconClass}}"></i>
                    </div>
                    <div ng-repeat="item in sidebarTopItems track by $index"
                         class="sidebar-item-container top-item {{item.className}}"
                         style="background-image: url({{item.backgroundUrl}})">
                        <span class="item-title">{{item.title}}</span>
                        <span ng-if="item.iconClass" class="item-info"> {{item.likeCount}} <i class="heart fa {{item.iconClass}}"></i></span>
                    </div>
                </div>
                <!-- This is dynamic page for app content -->
                <div id="application-page-content" class="application-page-content">
                    <div class="" ui-view></div>
                </div>
            </div>
        </div>
    </div>
</body>