/*
 * COLOR EVALUATION PREFIXES
 *
 *   _dark
 *   _deep
 *   _strong
 *   _clean
 *   _smooth
 *   _light
 *   _whitened
 *
 */
$color_azure-strong: #0E605B;

$color_purple-dark: #30172B;
$color_purple-strong: #651287;

$color_blue-deep: #08254E;
$color_blue-clean: #246EB9;

$color_green-strong: #165411;
$color_green-smooth: #4CB944;

$color_yellow-strong: #6C6604;
$color_yellow-smooth: #888A0F;
$color_yellow-light: #F5EE9E;
$color_yellow-whitened: #FDFFFC;

$color_red-deep: #900C3F;

$color_orange-deep: #9D480F;
$color_orange-light: #F06543;

$color_gray-dark: #292725;
$color_gray-smooth: #6C6967;
$color_gray-light: #CCD0D0;
$color_gray-whitened: #e9e9e9;

$color_brown-smooth: #9A6F42;
$color_brown-deep: #5F564D;
$color_brown-dark: #4D3737;