$_font_family-helvetica: Helvetica, Arial, sans-serif;
$_font_family-arial: Arial, sans-serif;

$_font-size-giant: 30px;
$_font-size-extra-large: 26px;
$_font-size-large: 20px;
$_font-size-regular: 16px;
$_font-size-small: 14px;
$_font-size-extra-small: 12px;

._text-giant{
  font-size: $_font-size-giant;
}
._text-extra-large{
  font-size: $_font-size-extra-large;
}
._text-large{
  font-size: $_font-size-large;
}
._text-regular{
  font-size: $_font-size-regular;
}
._text-small{
  font-size: $_font-size-small;
}
._text-extra-small{
  font-size: $_font-size-extra-small;
}