.list-actions-entry {
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;
  position: relative;

  .list-entry-row {
    display: flex;
    align-items: center;

    .entry-row-name {
      flex: 1 1 0;
      padding-left: 10px;
    }
    .entry-row-type {
      flex: 0 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .entry-row-toggle {
      padding: 0 10px;
      margin-left: 10px;
    }
    .name-main {
      font-weight: 900;
      word-break: break-all;
      word-wrap: break-word;
    }
    .name-sub {
      word-break: break-all;
      word-wrap: break-word;
    }
    .specific-type-icon {
      display: none;
      flex: 0 0 30px;
      height: 20px;
      margin: 0 5px;
      border: 1px solid $color_yellow-strong;
      border-radius: 8px;
    }

    &.type-background-bmw {
      .specific-type-icon {
        display: block;
        background: $color_yellow-strong url('assets/images/bmw.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
    &.type-background-bentley {
      .specific-type-icon {
        display: block;
        background: $color_yellow-strong url('assets/images/bentley.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
    &.type-background-maserati {
      .specific-type-icon {
        display: block;
        background: $color_yellow-strong url('assets/images/maserati.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .actions-cover-container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;

    .actions-cover-item {
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .entry-row-description {
    padding: 10px 15px;
    font-style: italic;
  }

  &:last-child {
    .page-list-item {
      border-bottom: none !important;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: $color_gray-light;
  }
}