.preview-container {
  width: 320px;
  height: 250px;
  border: 4px solid $color_brown-smooth;
  border-radius: 8px;
  background-color: $color_blue-clean;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px 30px;
  color: $color_yellow-whitened;
  position: relative;
  transition: all 0.8s ease;
  //transition: background-image 0.2s ease-in-out;

  .entry-preview-title {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed $color_yellow-whitened;

    .title-main {
      flex: 1 1 100%;
      font-size: $_font-size-large;
      font-weight: 600;
      color: $color_orange-light;
      margin-bottom: 15px;
      @include text-overflow-ellipsis();
    }
    .title-sub {
      flex: 1 1 100%;
      text-align: right;
      @include text-overflow-ellipsis();
    }
  }
  .entry-preview-description {
    font-weight: 400;
    font-size: $_font-size-extra-small;
    overflow: hidden;
    margin-top: 35px;

    .description {
      white-space: pre-wrap;
      word-break: break-word;
    }
  }
  .entry-preview-type {
    $preview-type-size: 40px;
    width: $preview-type-size;
    height: $preview-type-size;
    background-color: $color_orange-light;
    color: $color_yellow-light;
    border-radius: 4px;
    font-size: $_font-size-giant;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: calc(-#{$preview-type-size} / 2);
    right: calc(-#{$preview-type-size} / 2);
    z-index: 9;

    &.entry-type-special {
      background-color: $color_yellow-light;
      border: 1px solid $color_orange-light;
      color: $color_orange-light;
      margin-top: -7px;
      margin-right: -7px;
      left: calc(-52px / 2);
      top: calc(-34px / 2);
    }
  }

  &.breadcrumb-preview {
    width: 220px;
    height: 200px;
    padding: 15px 20px;
    margin-bottom: 15px;

    .title-main {
      font-size: $_font-size-regular;
      margin-bottom: 7px;
    }
    .title-sub {
      font-size: $_font-size-small;
    }
    .entry-preview-description {
      margin-top: 15px;
      max-height: 100px;
      overflow: hidden;
      display: flex;
    }
  }
  &.type-background-bentley {
    background: $color_yellow-strong url('assets/images/bentley.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &.type-background-maserati {
    background: $color_yellow-strong url('assets/images/maserati.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &.type-background-bmw {
    background: $color_yellow-strong url('assets/images/bmw.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &.type-background-admin {
    background-color: $color_blue-clean;
  }
  &.type-background-assistant {
    background-color: $color_green-strong;
  }
  &.type-background-txt {
    background-color: $color_azure-strong;
  }
  &.type-background-html {
    background-color: $color_purple-dark;
  }
  &.type-background-css {
    background-color: $color_brown-dark;
  }
  &.type-background-js {
    background-color: $color_purple-strong;
  }
  &.type-background-pdf {
    background-color: $color_red-deep;
  }
  &.category-background-error {
    background-color: $color_yellow-whitened;

    .entry-preview-description {
      color: $color_orange-light;
    }
  }
  &.category-background-success {
    background-color: $color_green-smooth;

    .entry-preview-description {
      color: $color_brown-smooth;
    }
  }
}