@import "font";
@import "color";

$application-font-family: $_font_family-helvetica;

$main-bg-color: $color_yellow-whitened;
$border-light-color: $color_gray-whitened;
$toolbar-bg-color: $color_gray-whitened;
$sidebar-bg-color: $color_green-smooth;
$content-bg-color: $color_gray-whitened;

$arch-wrapper-min-width: 1025px;
$arch-wrapper-min-height: 670px;

$toolbar-fixed-height: 75px;
$sidebar-fixed-width: 225px;

