<div class="list-actions-entry"
     ng-mouseleave="triggerActionsToggle(false)">
    <div ng-mouseover="triggerActionsToggle(true)"
         class="list-entry-row {{containerClass}}"
         ng-class="{'opacity-0': showActions && !descriptionExpanded,
                    'border-less': descriptionExpanded}">
        <div class="entry-row-name">
            <span ng-if="getMainTitle()" class="name-main">{{getMainTitle()}}</span>
            <span> - </span>
            <span ng-if="getSubTitle()" class="name-sub">{{getSubTitle()}}</span>
        </div>
        <div ng-if="descriptionExpanded"
             ng-click="toggleExpandDescription(false)"
             class="entry-row-toggle h-borders">
            Hide description
            <i class="fa fa-times"></i>
        </div>
        <div class="entry-row-type">
            <i class="fa {{iconClass}}"></i>
        </div>
        <div class="specific-type-icon"></div>
    </div>
    <div ng-if="contentModel.description && descriptionExpanded" class="border-bottom entry-row-description">
        <span class="description">{{contentModel.description}}</span>
    </div>
    <div ng-if="showActions && !descriptionExpanded"
         class="actions-cover-container preview-actions-container">
        <div ng-if="contentModel.description"
             ng-click="toggleExpandDescription(true)"
             class="actions-cover-item transparent">
            <span class="actions-cover-title">Show description...</span>
        </div>
        <div ng-click="triggerEntityAction('edit-entry')"
             class="actions-cover-item loan-the-book">
            <span class="actions-cover-title">Edit this Entry</span>
        </div>
        <div ng-click="triggerEntityAction('destroy-entry')"
             class="actions-cover-item destroy-the-book">
            <span class="actions-cover-title">Destroy this Entry</span>
        </div>
    </div>
</div>