<div class="preview-actions-container"
     ng-mouseleave="triggerActionsToggle(false)">
    <preview-container ng-mouseover="triggerActionsToggle(true)"
                       content-model="contentModel"
                       container-class="{{containerClass}} breadcrumb-preview"
                       icon-class="{{iconClass}}">
    </preview-container>
    <div ng-if="showActions"
         class="actions-cover-container breadcrumb-preview preview-container">
        <div ng-click="triggerEntityAction('edit-entry')"
             class="actions-cover-item get-it-back">
            <span class="actions-cover-title">Edit this Entry</span>
        </div>
        <div ng-click="triggerEntityAction('destroy-entry')"
             class="actions-cover-item loan-the-book">
            <span class="actions-cover-title">Destroy this Entry</span>
        </div>
    </div>
</div>