<div class="preview-container {{containerClass}}">
    <div class="entry-preview-title">
        <span ng-if="getMainTitle()" class="title-main">{{getMainTitle() | uppercase}}</span>
        <span ng-if="getSubTitle()" class="title-sub">{{getSubTitle() | uppercase}}</span>
    </div>
    <div class="entry-preview-description">
        <span ng-if="contentModel.description" class="description">{{contentModel.description | uppercase}}</span>
    </div>
    <div class="entry-preview-type">
        <i class="fa {{iconClass}}"></i>
    </div>
    <div ng-if="contentModel.specialIcon" class="entry-preview-type entry-type-special">
        <i class="fa {{contentModel.specialIcon}}"></i>
    </div>
</div>